<div class="header" id="header-wrapper" ng-include="'view/shared/header.html'"></div>
<div class="breadcrumb-wrapper"><ul class="breadcrumb"><li>Home</li><li>About Us</li></ul></div>
<div class="page-main-wrapper">
		<div class="container">
			<div class="about-main_w3_agileits">
				<div class="col-md-6 about-left">
					<img src="content/images/chef.jpg" alt="">
				</div>
				<div class="col-md-6 about-right_agileits">
					<h3>For Goof Taste</h3>
					<p>Nulla sodales efficitur consequat. Maecenas mi diam, imperdiet consectetur ultricies nec, convallis sit amet turpis.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a class="active" href="#" data-toggle="modal" data-target="#myModal">Learn more</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<uib-tabset active="activeForm">
				<uib-tab index="0" heading="Form Tab">
				  <ng-form name="nestedForm">
					<div class="form-group">
					  <label>Name</label>
					  <input type="text" class="form-control" required ng-model="model.name"/>
					</div>
				  </ng-form>
				</uib-tab>
				<uib-tab index="1" heading="Tab One">
				  Some Tab Content
				</uib-tab>
				<uib-tab index="2" heading="Tab Two">
				  More Tab Content
				</uib-tab>
			  </uib-tabset>
    </div>
  
    