<div class="header" id="header-wrapper" ng-include="'view/shared/header.html'"></div>
<div class="breadcrumb-wrapper"><ul class="breadcrumb"><li>Home</li><li>Gallery</li></ul></div>
<div class="page-main-wrapper">
		<div class="container">
			<!--/gallery-->

			<carousel interval="myInterval">
					<slide ng-repeat="slide in slides" active="slide.active">
					  <img ng-src="{{slide.image}}">
					  <div class="carousel-caption">
						<h4>Slide {{$index+1}}</h4>
					  </div>
					</slide>
				  </carousel>

				  <ng-image-gallery images="images" methods="methods" conf="conf" thumbnails="thumbnails" thumb-size="thumbSize" inline="inline" bubbles="bubbles" bubble-size="bubbleSize" img-bubbles="imgBubbles" bg-close="bgClose" piracy="true" on-open="opened();" on-close="closed();" on-delete="delete(img, cb)" bg-close="false"></ng-image-gallery>


	<div class="gallery" id="gallery">
		
		</div>
		<!--//gallery-->
	
		</div>
    </div>
  
    