<div class="header" id="header-wrapper" ng-include="'view/shared/header.html'"></div>
<div class="breadcrumb-wrapper"><ul class="breadcrumb"><li>Home</li><li>Gallery</li></ul></div>
<div class="page-main-wrapper">
		<div class="container">
			<!--/gallery-->

			<carousel interval="myInterval">
					<slide ng-repeat="slide in slides" active="slide.active">
					  <img ng-src="{{slide.image}}">
					  <div class="carousel-caption">
						<h4>Slide {{$index+1}}</h4>
					  </div>
					</slide>
				  </carousel>

	<div class="gallery" id="gallery">
			<div class="container">
				<div class="gallery-main">
					<div class="gallery-top">
						<div class="gallery-top-img portfolio-grids">
							<a href="content/images/gal6.jpg" class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
										<img src="content/images/gal6.jpg" class="img-responsive" alt="" />
										<div class="p-mask">
											<h4><span>Heading here</span></h4>
										</div>
									</a>
	
						</div>
	
						<div class="gallery-top-img portfolio-grids">
							<a href="content/images/gal5.jpg" class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
										<img src="content/images/gal5.jpg" class="img-responsive" alt="" />
										<div class="p-mask">
											<h4><span>Heading here</span></h4>
										</div>
									</a>
	
						</div>
						<div class="gallery-top-img portfolio-grids">
							<a href="content/images/gal4jpg" class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
										<img src="content/images/gal4.jpg" class="img-responsive" alt="" />
										<div class="p-mask">
											<h4><span>Heading here</span></h4>
										</div>
									</a>
	
						</div>
						<div class="gallery-top-img portfolio-grids">
							<a href="content/images/gal3.jpg" class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
										<img src="content/images/gal3.jpg" class="img-responsive" alt="" />
										<div class="p-mask">
											<h4><span>Heading here</span></h4>
										</div>
									</a>
	
						</div>
						<div class="gallery-top-img portfolio-grids">
							<a href="content/images/gal3.jpg" class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
										<img src="content/images/gal3.jpg" class="img-responsive" alt="" />
										<div class="p-mask">
											<h4><span>Heading here</span></h4>
										</div>
									</a>
	
						</div>
						<div class="gallery-top-img portfolio-grids">
							<a href="content/images/gal1.jpg" class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
										<img src="content/images/gal1.jpg" class="img-responsive" alt="" />
										<div class="p-mask">
											<h4><span>Heading here</span></h4>
										</div>
									</a>
	
						</div>
						<div class="gallery-top-img portfolio-grids">
								<a href="content/images/gal3.jpg" class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
											<img src="content/images/gal3.jpg" class="img-responsive" alt="" />
											<div class="p-mask">
												<h4><span>Heading here</span></h4>
											</div>
										</a>
		
							</div>
							<div class="gallery-top-img portfolio-grids">
								<a href="content/images/gal1.jpg" class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
											<img src="content/images/gal1.jpg" class="img-responsive" alt="" />
											<div class="p-mask">
												<h4><span>Heading here</span></h4>
											</div>
										</a>
		
							</div>
							<div class="gallery-top-img portfolio-grids">
									<a href="content/images/gal1.jpg" class="b-link-stripe b-animate-go lightninBox" data-lb-group="1">
												<img src="content/images/gal1.jpg" class="img-responsive" alt="" />
												<div class="p-mask">
													<h4><span>Heading here</span></h4>
												</div>
											</a>
			
								</div>
						<div class="clearfix"></div>
					</div>
					
				</div>
			</div>
		</div>
		<!--//gallery-->
	
		</div>
    </div>
  
    