<div ng-include="'view/shared/nav-home.html'"></div>
<div ng-include="'view/shared/slider.html'"></div>
<!--//Slider-->
<div class="work" id="services">
    <div class="container">

        <div class="work-main">
            <div class="work-top">
                <h3>Our Services</h3>
                <p>Lorem ipsum dolor sit amet,vehicula vel sapien et</p>
            </div>
            <div class="work-bottom_w3ls_agile">
                <div class="work-bottom-top">
                    <div class="col-md-4">
                        <div class="work-bottom-left_agile_w3ls">
                            <span class="fa fa-spoon" aria-hidden="true"></span>
                            <h4>Fresh Products</h4>
                            <p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales.
                                </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-bottom-left_agile_w3ls">
                            <span class="fa fa-apple" aria-hidden="true"></span>
                            <h4>Healthy Food</h4>
                            <p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales.
                                </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-bottom-left_agile_w3ls">
                            <span class="fa fa-home" aria-hidden="true"></span>
                            <h4>Traditional Methods
                            </h4>
                            <p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales.
                                </p>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="work-bottom-top">
                    <div class="col-md-4">
                        <div class="work-bottom-left_agile_w3ls">
                            <span class="fa fa-calendar" aria-hidden="true"></span>
                            <h4>Advance Booking</h4>
                            <p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales.
                                </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-bottom-left_agile_w3ls">
                            <span class="fa fa-smile-o" aria-hidden="true"></span>
                            <h4>Best Chefs</h4>
                            <p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales.
                                </p>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="work-bottom-left_agile_w3ls">
                            <span class="fa fa-child" aria-hidden="true"></span>
                            <h4>150 Tables
                            </h4>
                            <p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales.
                                </p>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    Carousel Product Cart Slider</h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-success" href="javascript:void(0)" data-slide="prev" ng-click="productSliderPrev();"></a>
                    <a class="right fa fa-chevron-right btn btn-success" href="javascript:void(0)" data-slide="next" ng-click="productSliderNext();"></a>
                </div>
            </div>
        </div>
        <div id="productSlider" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active" ng-repeat="n in [] | range:productSection">
                    <div class="row">
                        <div class="col-sm-3 product-list" ng-repeat="product in productSlider">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="content/images{{product.productImage}}" class="img-responsive" alt="a" />
                                </div>
                                <div class="col-info">
                                    <div class="product-details-wrapper">
                                        <a href="javascript:void(0)" class="product-name" ng-mouseover="open = true" ng-mouseleave="open = false">{{ product.productName }}</a>
                                        <div class="product-content" ng-show="open">
                                            <h4>{{ product.productHeading }}</h4>
                                            <p>{{ product.productContent }}</p>
                                            <button class="btn btn-default">{{ product.productButton }}</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<div class="tabs_section" id="menu">
    <div class="container">

        <h5>Special Menu</h5>
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
            <ul class="resp-tabs-list">
                <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"> BREAKFAST</li>
                <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"> LUNCH</li>
                <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"> TO DAY SPECIALS</li>
                <li class="resp-tab-item resp-tab-active" aria-controls="tab_item-3" role="tab"> DRINKS</li>
            </ul>
            <div class="resp-tabs-container">

                <h2 class="resp-accordion" role="tab" aria-controls="tab_item-0">
                    <span class="resp-arrow"></span> BREAKFAST</h2>
                <div class="tab1 resp-tab-content" aria-labelledby="tab_item-0">
                    <div class="recipe-grid">
                        <div class="col-md-6 menu-grids">
                            <div class="menu-text_wthree">

                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal1.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text-right">
                                    <h4>$ 50</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>

                            <div class="menu-text_wthree">
                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal2.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text-right">
                                    <h4>$25</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="menu-text_wthree">
                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal3.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>

                                <div class="menu-text-right">
                                    <h4>$30</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6 menu-grids">
                            <div class="menu-text_wthree">

                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal4.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text-right">
                                    <h4>$ 50</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>

                            <div class="menu-text_wthree">
                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal5.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>

                                <div class="menu-text-right">
                                    <h4>$25</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="menu-text_wthree">
                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal6.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text-right">
                                    <h4>$30</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <h2 class="resp-accordion" role="tab" aria-controls="tab_item-1">
                    <span class="resp-arrow"></span> LUNCH</h2>
                <div class="tab2 resp-tab-content" aria-labelledby="tab_item-1">
                    <div class="recipe-grid">
                        <div class="col-md-6 menu-grids">
                            <div class="menu-text_wthree">

                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal9.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text-right">
                                    <h4>$ 50</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>

                            <div class="menu-text_wthree">
                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal7.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text-right">
                                    <h4>$25</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="menu-text_wthree">
                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal8.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>

                                <div class="menu-text-right">
                                    <h4>$30</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6 menu-grids">
                            <div class="menu-text_wthree">

                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal7.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text-right">
                                    <h4>$ 50</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>

                            <div class="menu-text_wthree">
                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal8.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>

                                <div class="menu-text-right">
                                    <h4>$25</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="menu-text_wthree">
                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal9.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text-right">
                                    <h4>$30</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
                <h2 class="resp-accordion" role="tab" aria-controls="tab_item-2">
                    <span class="resp-arrow"></span> TO DAY SPECIALS</h2>
                <div class="tab3 resp-tab-content" aria-labelledby="tab_item-2">
                    <div class="recipe-grid">
                        <div class="col-md-6 menu-grids">
                            <div class="menu-text_wthree">

                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal1.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text-right">
                                    <h4>$ 50</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>

                            <div class="menu-text_wthree">
                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal2.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text-right">
                                    <h4>$25</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="menu-text_wthree">
                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal3.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>

                                <div class="menu-text-right">
                                    <h4>$30</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6 menu-grids">
                            <div class="menu-text_wthree">

                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal4.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text-right">
                                    <h4>$ 50</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>

                            <div class="menu-text_wthree">
                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal5.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>

                                <div class="menu-text-right">
                                    <h4>$25</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="menu-text_wthree">
                                <div class="menu-text-left">
                                    <div class="rep-img">
                                        <img src="content/images/gal6.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="rep-text">
                                        <h4>Lorem ipsum dolor............</h4>
                                        <h6>with wild mushrooms and asparagus</h6>
                                    </div>

                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text-right">
                                    <h4>$30</h4>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-3">
                    <span class="resp-arrow"></span> DRINKS</h2>
                <div class="tab4 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-3"
                    style="display:block">

                    <div class="col-md-6 menu-grids">
                        <div class="menu-text_wthree">

                            <div class="menu-text-left">
                                <div class="rep-img">
                                    <img src="content/images/gal12.jpg" alt=" " class="img-responsive">
                                </div>
                                <div class="rep-text">
                                    <h4>Lorem ipsum dolor............</h4>
                                    <h6>Itaque earum rerum hic tenetur </h6>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                            <div class="menu-text-right">
                                <h4>$ 50</h4>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                        <div class="menu-text_wthree">
                            <div class="menu-text-left">
                                <div class="rep-img">
                                    <img src="content/images/gal10.jpg" alt=" " class="img-responsive">
                                </div>
                                <div class="rep-text">
                                    <h4>Lorem ipsum dolor............</h4>
                                    <h6>Itaque earum rerum hic tenetur </h6>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                            <div class="menu-text-right">
                                <h4>$25</h4>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="menu-text_wthree">
                            <div class="menu-text-left">
                                <div class="rep-img">
                                    <img src="content/images/gal11.jpg" alt=" " class="img-responsive">
                                </div>
                                <div class="rep-text">
                                    <h4>Lorem ipsum dolor............</h4>
                                    <h6>Itaque earum rerum hic tenetur </h6>
                                </div>

                                <div class="clearfix"> </div>
                            </div>

                            <div class="menu-text-right">
                                <h4>$30</h4>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="col-md-6 menu-grids">
                        <div class="menu-text_wthree">

                            <div class="menu-text-left">
                                <div class="rep-img">
                                    <img src="content/images/gal10.jpg" alt=" " class="img-responsive">
                                </div>
                                <div class="rep-text">
                                    <h4>Lorem ipsum dolor............</h4>
                                    <h6>Itaque earum rerum hic tenetur </h6>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                            <div class="menu-text-right">
                                <h4>$ 50</h4>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                        <div class="menu-text_wthree">
                            <div class="menu-text-left">
                                <div class="rep-img">
                                    <img src="content/images/gal11.jpg" alt=" " class="img-responsive">
                                </div>
                                <div class="rep-text">
                                    <h4>Lorem ipsum dolor............</h4>
                                    <h6>Itaque earum rerum hic tenetur </h6>
                                </div>

                                <div class="clearfix"> </div>
                            </div>

                            <div class="menu-text-right">
                                <h4>$25</h4>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="menu-text_wthree">
                            <div class="menu-text-left">
                                <div class="rep-img">
                                    <img src="content/images/gal13.jpg" alt=" " class="img-responsive">
                                </div>
                                <div class="rep-text">
                                    <h4>Lorem ipsum dolor............</h4>
                                    <h6>Itaque earum rerum hic tenetur </h6>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                            <div class="menu-text-right">
                                <h4>$30</h4>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>


                <h2 class="resp-accordion" role="tab" aria-controls="tab_item-4">
                    <span class="resp-arrow"></span>
                </h2>
                <div class="clearfix resp-tab-content" aria-labelledby="tab_item-4"></div>
            </div>
        </div>
    </div>
</div>