<div ng-include="'view/shared/nav-home.html'"></div>
<div ng-include="'view/shared/slider.html'"></div>
		<!--//Slider-->
<div class="work" id="services">
		<div class="container">
			
			<div class="work-main">
				<div class="work-top">
					<h3>Our Services</h3>
					<p>Lorem ipsum dolor sit amet,vehicula vel sapien et</p>
				</div>
				<div class="work-bottom_w3ls_agile">
					<div class="work-bottom-top">
						<div class="col-md-4">
							<div class="work-bottom-left_agile_w3ls">
								<span class="fa fa-spoon" aria-hidden="true"></span>
								<h4>Fresh Products</h4>
								<p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales. </p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="work-bottom-left_agile_w3ls">
								<span class="fa fa-apple" aria-hidden="true"></span>
								<h4>Healthy Food</h4>
								<p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales. </p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="work-bottom-left_agile_w3ls">
								<span class="fa fa-home" aria-hidden="true"></span>
								<h4>Traditional Methods
								</h4>
								<p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales. </p>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>
					<div class="work-bottom-top">
						<div class="col-md-4">
							<div class="work-bottom-left_agile_w3ls">
								<span class="fa fa-calendar" aria-hidden="true"></span>
								<h4>Advance Booking</h4>
								<p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales. </p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="work-bottom-left_agile_w3ls">
								<span class="fa fa-smile-o" aria-hidden="true"></span>
								<h4>Best Chefs</h4>
								<p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales. </p>
							</div>

						</div>
						<div class="col-md-4">
							<div class="work-bottom-left_agile_w3ls">
								<span class="fa fa-child" aria-hidden="true"></span>
								<h4>150 Tables
								</h4>
								<p>Duis sit amet posuere justo, sit amet finibus urna. Aenean elementum diam nec laoreet sodales. </p>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
			</div>
        </div>
    </div>
<div class="tabs_section" id="menu">
            <div class="container">

                <h5>Special Menu</h5>
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"> BREAKFAST</li>
                        <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"> LUNCH</li>
                        <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"> TO DAY SPECIALS</li>
                        <li class="resp-tab-item resp-tab-active" aria-controls="tab_item-3" role="tab"> DRINKS</li>
                    </ul>
                    <div class="resp-tabs-container">
    
                        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span> BREAKFAST</h2><div class="tab1 resp-tab-content" aria-labelledby="tab_item-0">
                            <div class="recipe-grid">
                                <div class="col-md-6 menu-grids">
                                    <div class="menu-text_wthree">
    
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal1.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="menu-text-right">
                                            <h4>$ 50</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
    
                                    <div class="menu-text_wthree">
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal2.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="menu-text-right">
                                            <h4>$25</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="menu-text_wthree">
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal3.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
    
                                        <div class="menu-text-right">
                                            <h4>$30</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="col-md-6 menu-grids">
                                    <div class="menu-text_wthree">
    
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal4.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="menu-text-right">
                                            <h4>$ 50</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
    
                                    <div class="menu-text_wthree">
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal5.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
    
                                        <div class="menu-text-right">
                                            <h4>$25</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="menu-text_wthree">
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal6.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="menu-text-right">
                                            <h4>$30</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
    
                            <div class="clearfix"></div>
                        </div>
    
                        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span> LUNCH</h2><div class="tab2 resp-tab-content" aria-labelledby="tab_item-1">
                            <div class="recipe-grid">
                                <div class="col-md-6 menu-grids">
                                    <div class="menu-text_wthree">
    
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal9.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="menu-text-right">
                                            <h4>$ 50</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
    
                                    <div class="menu-text_wthree">
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal7.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="menu-text-right">
                                            <h4>$25</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="menu-text_wthree">
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal8.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
    
                                        <div class="menu-text-right">
                                            <h4>$30</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="col-md-6 menu-grids">
                                    <div class="menu-text_wthree">
    
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal7.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="menu-text-right">
                                            <h4>$ 50</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
    
                                    <div class="menu-text_wthree">
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal8.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
    
                                        <div class="menu-text-right">
                                            <h4>$25</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="menu-text_wthree">
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal9.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="menu-text-right">
                                            <h4>$30</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
    
                            <div class="clearfix"></div>
    
                        </div>
                        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span class="resp-arrow"></span> TO DAY SPECIALS</h2><div class="tab3 resp-tab-content" aria-labelledby="tab_item-2">
                            <div class="recipe-grid">
                                <div class="col-md-6 menu-grids">
                                    <div class="menu-text_wthree">
    
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal1.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="menu-text-right">
                                            <h4>$ 50</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
    
                                    <div class="menu-text_wthree">
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal2.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="menu-text-right">
                                            <h4>$25</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="menu-text_wthree">
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal3.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
    
                                        <div class="menu-text-right">
                                            <h4>$30</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="col-md-6 menu-grids">
                                    <div class="menu-text_wthree">
    
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal4.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="menu-text-right">
                                            <h4>$ 50</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
    
                                    <div class="menu-text_wthree">
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal5.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
    
                                        <div class="menu-text-right">
                                            <h4>$25</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="menu-text_wthree">
                                        <div class="menu-text-left">
                                            <div class="rep-img">
                                                <img src="content/images/gal6.jpg" alt=" " class="img-responsive">
                                            </div>
                                            <div class="rep-text">
                                                <h4>Lorem ipsum dolor............</h4>
                                                <h6>with wild mushrooms and asparagus</h6>
                                            </div>
    
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="menu-text-right">
                                            <h4>$30</h4>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
    
                            <div class="clearfix"></div>
                        </div>
                        <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-3"><span class="resp-arrow"></span> DRINKS</h2><div class="tab4 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-3" style="display:block">
    
                            <div class="col-md-6 menu-grids">
                                <div class="menu-text_wthree">
    
                                    <div class="menu-text-left">
                                        <div class="rep-img">
                                            <img src="content/images/gal12.jpg" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rep-text">
                                            <h4>Lorem ipsum dolor............</h4>
                                            <h6>Itaque earum rerum hic tenetur </h6>
                                        </div>
    
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="menu-text-right">
                                        <h4>$ 50</h4>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
    
                                <div class="menu-text_wthree">
                                    <div class="menu-text-left">
                                        <div class="rep-img">
                                            <img src="content/images/gal10.jpg" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rep-text">
                                            <h4>Lorem ipsum dolor............</h4>
                                            <h6>Itaque earum rerum hic tenetur </h6>
                                        </div>
    
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="menu-text-right">
                                        <h4>$25</h4>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text_wthree">
                                    <div class="menu-text-left">
                                        <div class="rep-img">
                                            <img src="content/images/gal11.jpg" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rep-text">
                                            <h4>Lorem ipsum dolor............</h4>
                                            <h6>Itaque earum rerum hic tenetur </h6>
                                        </div>
    
                                        <div class="clearfix"> </div>
                                    </div>
    
                                    <div class="menu-text-right">
                                        <h4>$30</h4>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="col-md-6 menu-grids">
                                <div class="menu-text_wthree">
    
                                    <div class="menu-text-left">
                                        <div class="rep-img">
                                            <img src="content/images/gal10.jpg" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rep-text">
                                            <h4>Lorem ipsum dolor............</h4>
                                            <h6>Itaque earum rerum hic tenetur </h6>
                                        </div>
    
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="menu-text-right">
                                        <h4>$ 50</h4>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
    
                                <div class="menu-text_wthree">
                                    <div class="menu-text-left">
                                        <div class="rep-img">
                                            <img src="content/images/gal11.jpg" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rep-text">
                                            <h4>Lorem ipsum dolor............</h4>
                                            <h6>Itaque earum rerum hic tenetur </h6>
                                        </div>
    
                                        <div class="clearfix"> </div>
                                    </div>
    
                                    <div class="menu-text-right">
                                        <h4>$25</h4>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="menu-text_wthree">
                                    <div class="menu-text-left">
                                        <div class="rep-img">
                                            <img src="content/images/gal13.jpg" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rep-text">
                                            <h4>Lorem ipsum dolor............</h4>
                                            <h6>Itaque earum rerum hic tenetur </h6>
                                        </div>
    
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="menu-text-right">
                                        <h4>$30</h4>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
    
    
                        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-4"><span class="resp-arrow"></span></h2><div class="clearfix resp-tab-content" aria-labelledby="tab_item-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- banner -->
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                                <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                            <div class="thumbnail"><img src="content/images/gal1.jpg" alt="Image" style="max-width:100%;"></div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                            <div class="thumbnail"><img src="content/images/gal2.jpg" alt="Image" style="max-width:100%;"></div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                            <div class="thumbnail"><img src="content/images/gal3.jpg" alt="Image" style="max-width:100%;"></div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                            <div class="thumbnail"><img src="content/images/gal4.jpg" alt="Image" style="max-width:100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                            <div class="thumbnail"><img src="content/images/gal5.jpg" alt="Image" style="max-width:100%;"></div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                            <div class="thumbnail"><img src="content/images/gal6.jpg" alt="Image" style="max-width:100%;"></div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                            <div class="thumbnail"><img src="content/images/gal2.jpg" alt="Image" style="max-width:100%;"></div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                            <div class="thumbnail"><img src="content/images/gal1.jpg" alt="Image" style="max-width:100%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="fa fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
                            <!-- The Modal -->
                        </div>
                        <!--//banner -->
    
        </div>
        
        